.list {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style-type: none;
}

.list__item {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}

.list--bordered {
  border: 1px solid black;
}
