.drawer-base {
  position: absolute;
  top: 8rem;
  height: calc(100vh - 8rem);
  width: 50vw;
  z-index: 10;
  transition: left 0.5s;
}

.drawer {
  left: 0;

  border: 1px solid black;
  border-top: 0;
  background: white;
}

.drawer--hidden {
  left: -60vw;
}

.not-drawer {
  background: rgba(0, 0, 0, 0.7);
  left: 50vw;
}

.not-drawer--hidden {
  left: -60vw;
}

@media only screen and (min-width: 1000px) {
  .drawer {
    left: 0;
    top: 0;
    height: 100vh;
    width: 30rem;
    position: fixed;
  }
  .not-drawer {
    display: none;
  }
}
