.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border: 0;
  color: black;
}

.button--stroked {
  border: 0.1rem solid black;
}

.button--align-left {
  text-align: left;
}

.button:active {
  background-color: lightgray;
}
